{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'tavern_of_heroes/style.css' %}">
</head>
<body>
    <div id="login_info">
        <a href="{% url 'app:tavern' %}">Таверна</a>
        {% if user.is_authenticated %}
            <p>{{ user.username }}</p>
            <a href="{% url 'app:logout' %}">Выйти из таверны</a>
        {% else %}
            <a href="{% url 'app:login' %}">Войти в таверну</a>
            <a href="{% url 'app:registration' %}">Зарегистрироваться в таверне</a>
        {% endif %}
    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>