{% load static %}

<link rel="stylesheet" href="{% static 'tavern_of_heroes/style.css' %}">

{% if hero_list %}
    <div id="hero_list">
        {% for hero in hero_list %}
            <a href="{% url 'hero_ditail' hero.id %}">
                <h3>{{ hero.name }}</h3>
                <h5>{{ hero.get_hero_class_display }} {{ hero.level }} уровня</h5>
                {% for key, value in hero.stats.items %}
                    <p>{{ key }}: {{ value }}</p>
                {% endfor %}
            </a>
        {% endfor %}
    </div>
{% else %}
    <p>Сейчас в таверне нет героев</p>
{% endif %}

<a href="{% url 'items_list' %}">Посмотреть предметы в таверне</a>