{% load static %}

<link rel="stylesheet" href="{% static 'tavern_of_heroes/style.css' %}">

{% if items_list %}
    <div id="items_list">
        {% for item in items_list %}
            <a href="{% url 'item_ditail' item.id %}">
                <h3>{{ item.name }}</h3>
{#                {% for key, value in hero.stats.items %}#}
{#                    <p>{{ key }}: {{ value }}</p>#}
{#                {% endfor %}#}
            </a>
        {% endfor %}
    </div>
{% else %}
    <p>Все предметы были украдены гоблинами</p>
{% endif %}